<.sidebar socket={@socket} base_path={@base_path} current_filters={assigns[:current_filters] || []} />
<main class="ml-sidebar flex flex-col py-6 px-10 h-screen overflow-y-auto">
  {@inner_content}
</main>