<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta name="live-path" content={get_socket_config(:path)} />
    <meta name="live-transport" content={get_socket_config(:transport)} />

    <title>Tower Dashboard</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&family=Inter:wght@300;400;500;600&family=Roboto+Slab:wght@100;200;300;400;500;700&display=swap" rel="stylesheet">

    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            spacing: {
              'sidebar': '264px'
            },
            colors: {
              'tower': {
                'bg': '#2C2C2C',
                'active': '#4B5878',
                'line-color': '#444444',
                'text-primary': '#E4E4E7',
                'text-secondary': '#A1A1A1',
                'level-bg': '#383838',
                'success': '#008807',
                'success-hover': '#006d05'
              }
            },
            fontFamily: {
              'roboto-slab': ['"Roboto Slab"', 'serif'],
              'inter': ['"Inter"', 'sans-serif'],
              'mono': ['"IBM Plex Mono"', 'monospace'],
            }
          }
        }
      }
    </script>

    <script>
      <%= raw get_content(:js) %>
    </script>
    <script>
      let csrfToken = document.querySelector("meta[name='csrf-token']").getAttribute("content")
      let livePath = document.querySelector("meta[name='live-path']").getAttribute("content")
      let liveSocket = new window.LiveView.LiveSocket(livePath, window.Phoenix.Socket, {
        params: {_csrf_token: csrfToken}
      })
      liveSocket.connect()
    </script>
  </head>

  <body class="bg-tower-bg">
    {@inner_content}
  </body>
</html>
